# This file stores semi-sensitive, user specific settings necessary for
# testing the authenticated methods of copra.rest.Client in test_client.py.
#
# To test the authenticated methods, fill in the appropriate values (no quotes
# or spaces after the =) and rename this file to .env before running 
# test_client.py.

# Coinbase Pro Sandox API key information
KEY=
SECRET=
PASSPHRASE=

# Coinbase Pro Sandbox account ids. Can be found by running 
# copra.rest.Client.accounts with a sandbox-authenticated client.
TEST_BTC_ACCOUNT=
TEST_USD_ACCOUNT=

# Coinbase Pro Sandbox USD payment method id. Can be found by running
# rest.copra.Client.payment_method with a sandbox-authenticated client.
TEST_USD_PAYMENT_METHOD=

# Coinbase Pro Sandbox Coinbase account id. Can be found by running
# rest.copra.Client.coinbase_accounts with a sandbox-authenticated client.
TEST_USD_COINBASE_ACCOUNT=
